<h1>Merchants</h1>
<% if @merchants %>
  <div id='merchant'>
  <% @merchants.each do |merchant| %>
  <%= link_to "#{merchant.name}", "/merchants/#{merchant.id}", method: :get %>
  <br>
  <% end %>
  </div>
<% end %>
